extends ../layout

block content
  style.
    h3 { 
      font-size: 18
    }
  .page-header
    h3 Sign in
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
          i.fa.fa-instagram
          | Sign in with Instagram
