extends ../layout

block content
  .page-header
    h2
      i.fa.fa-instagram(style='color: #517fa4')
      | My Instagram Photos

  p.lead
    | My Recent Photos
  a(href='/tags')
    button.btn.btn-primary View Tags
    hr
  .row
    for image in myRecentMedia
      .col-xs-3
        a.thumbnail(href='#{image.link}')
          img(src='#{image.images.standard_resolution.url}', height='320px')